
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-aqua {
    background-color: #00d1e0; 
  }

  .text-aqua {
    color: #00d1e0; 
  }

  .bg-soft-gray {
    background-color: #f2f2f2; 
  }

  .text-soft-gray {
    color: #f2f2f2; 
  }

  .bg-tango {
    background-color: #ff6f3c; 
  }

  .text-tango {
    color: #ff6f3c; 
  }

  .border-tango {
    border-color: #ff6f3c; 
  }

  .focus-ring-tango {
    @apply focus:outline-none focus:ring-2 focus:ring-tango;
  }
}

