@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { img { display: initial; } }

@layer components {
  .display {
    @apply flex items-center justify-center h-screen bg-cover bg-center;
  }

  .table_header {
    @apply border border-gray-200 bg-slate-300 px-4 py-2 cursor-default;
  }

  .table-content {
    @apply text-left p-4 whitespace-nowrap;
  }
  .transition-transform {
    transition: transform 0.3s ease;
  }

  .hover-scale-up {
    @apply transform scale-100;
  }

  .hover-scale-up:hover {
    @apply transform scale-105;
  }

  .hover-scale-none:hover {
    @apply transform scale-100;
  }

  .hover-bg-tango-dark:hover {
    background-color: #e65c32; 
  }


  .focus-border-aqua {
    @apply focus:outline-none focus:border-aqua focus:ring-2 focus:ring-aqua;
  }

  /*same dropdown but cooler*/
  .dropdown {
    @apply relative inline-block w-full;
  }
}

